nav {
    
}

body {
    background-image:
}

h1 {
    color: lightskyblue;
    font-size: 40px;
}
.mapContainer {

    width: 50vw; 
    height: 50vh;
    border: 1px solid black;

}
.userInput {
    background-color: rgb(204, 200, 200);
    position:sticky;
}

#ui-datepicker-div {
    background-color: whitesmoke;
    border: 7px double #b6abab;
}

.mapContainer {
    /* position: relative; */
    
}
div.column {
    position: relative;
}

div.box {
    
}