nav {
    
}

body {

}

h1 {
    color: lightskyblue;
    font-size: 40px;
}

title {

}

h2.subtitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.mapContainer {
    width: 50vw; 
    height: 50vh;
    border: 1px solid black;

}

.userInput {
    width: 50vw;
    background-color: rgb(204, 200, 200);
    /* position:sticky; */
}

#ui-datepicker-div {
    background-color: whitesmoke;
    border: 7px double #b6abab;
    z-index: 2;
}

modal-content.box {
    position: relative;
    z-index: 3;
}

.flightsContainer {
    width: 50vw;
    background-color: rgba(204, 204, 216, 0.919);

}

.mapContainer {
    position: relative;
    z-index: 1;
}


div.column {
    position: relative;
}


footer {
    
}